---
---

// start content
html {
	font-size: medium;
}

body {
	font-family: Karla,"Helvetica Neue",Arial,sans-serif;
    font-size: 1.125rem;
    line-height: 1.4;
    text-rendering: optimizelegibility;
	color: rgb(3, 30, 57);
	background-color: rgb(250, 250, 238);
}

@import 'main-navigation';
@import 'splash-header';
@import 'sidebar';
@import 'sidebar-navigation';
@import 'revealjs-customisation';



#pageContent {
	margin-top: 40px;
}

@import 'syntax';


