/**
 * This is the only SCSS file which should contain
 * project-specific styles.
 *
 */

$splash-header-color: #225413;

$heading-color: #333;

$link-color: rgb(30, 128, 4);
$link-hover: rgb(37, 161, 4);
$link-active: rgb(30, 128, 4);
$link-visited: rgb(30, 128, 4);

$first-paragraph-color: #6C0F0F;

$baseurl: '/Building-with-Python'
